.product-desc .product-name{
    font-size: 1rem !important;
    font-weight: bold;
    line-height: 2rem;
}
.product-desc .product-category a{
    font-size: 0.7rem;
    color: #c2c2c2;
}
.product-desc .product-color .btn-group button .color-ball{
    height: 20px;
    width: 20px;
 
    border-radius: 50%;
    
    margin-left: 5px;
}
.product-desc .product-color .btn-group button span.color-name,.product-desc .product-color h5{
    font-size: 0.75rem;

}
.product-desc .product-color .btn-group button:focus{
    box-shadow: none;
 
}

.blue{
    background-color: #0d0de6 !important;
}
.red{
    background-color: #ff0000be !important;
}
.yellow{
    background-color: #fffb00 !important;
}
.pink{
    background-color: #ff4a8f !important;
}
.product-desc .garantee div button span{
    font-size: 12px;
}
.product-desc .garantee div button:focus{
    box-shadow: none;
    outline:1px solid #000
}
.product-desc .garantee div button i{
    font-size: 14px;
}
.product-desc .product-pricing-section .countdownTimer .brand{
    height: 30px;
}
.product-desc .product-pricing-section .countdownTimer .brand img{
    height: 100%;
}
.product-desc .product-pricing-section{
    max-width: 310px;
}
.product-desc .product-pricing-section .productPrice .preprice{
    color: #ccc;
    font-size: 14px;
    text-align: right;
}
.product-desc .product-pricing-section .productPrice .current-price .benefit{
    padding: 1px 5px;
    font-size: 8px;
    
}
.product-desc .product-pricing-section .productPrice .current-price .benefit span{
    font-size: 10px;
}
.product-desc .product-pricing-section .productPrice .current-price .lastprice{
    color: #efefef;
    font-size: 20px;
}
.product-desc .product-pricing-section .add-to-card{
    font-size: 12px;
}
.product-desc .product-pricing-section .add-to-card span{
    vertical-align: -4px;
}
.product-desc .product-pricing-section .aboutShop{
    font-size: 10px;
}
.product-desc .product-pricing-section .delivery-text .delivery-text-one{
font-size: 14px;
}
.product-desc .product-pricing-section .delivery-text .delivery-text-one i{
    font-size: 20px;
    margin-left: 10px;
}
.product-desc .product-pricing-section .delivery-text .delivery-text-two{
    font-size: 10px;
    }