.product-info .product-main-info h5{
    font-size: 1.1rem;
    color: #000;

}
.product-info .product-main-info p{
    margin-bottom: 0.5rem;
}
.product-info .product-main-info p i{
    font-size: 0.4rem;
    color: #000;


}
.product-info .product-main-info p span{
    font-size: 0.8rem;
    color: rgb(54, 54, 54);
}