@import url('/assets/css/_topnav.css');
@import url('/assets/css/_breadcrumb.css');
@import url('/assets/css/_product-detail.css');
@import url('/assets/css/_product-desc.css');
@import url('/assets/css/_ProductPic.css');
@import url('/assets/css/_productnav.css');
@font-face {
    font-family: IRANSans-web;
    src: url(/assets/fonts/IRANSans-web.woff);
}
ul,li,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    direction: rtl;
}
*,body{
 font-family: IRANSans-web;
 padding: 0;
 margin: 0;   
 box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
@media screen and (min-width:1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1340px;
    }
}
@media screen and (min-width:1200px) {
    .container-cs,
    .container-cs-sm,
    .container-cs-md,
    .container-cs-lg,
    .container-cs-xl {
        max-width: 1480px ;
    }
}
:root{
    --red-color:#dc3545;
    --black-color:#000;
    --gray-color:rgb(174, 173, 173);
}